<template>
  <div class="hello">
    <div class="text">
      <h1>Привет, я Александр</h1>
      <h2><span class="accent">Full-stack</span> программист <br>работаю <span class="accent">удаленно</span> из Перми</h2>
      <button @click="show_contact_me = true">
        Связаться со мной
      </button>
      <div class="btn_line">
        <a href="https://career.habr.com/madmandarin"><img src="~assets/img/habr.png" alt="Habr Career"></a>
        <a href="https://perm.hh.ru/resume/749687bdff0360250e0039ed1f546d4e4d7364"><img src="~assets/img/min-hh-white.png" alt="hh.ru"></a>
        <a href="mailto:request@madmandarin.info"><img src="~assets/img/email.png" alt="Email"></a>
        <a href="tel:+79991239850"><img src="~assets/img/phone.png" alt="Телефон"></a>
        <a href="https://t.me/MadMandarin"><img src="~assets/img/tg.png" alt="Telegram"></a>
      </div>
    </div>
    <div v-if="show_contact_me" class="contact_me_wrapper" @click="show_contact_me = false" />
    <div v-if="show_contact_me" class="contact_me">
      <input v-model="name" placeholder="ФИО" type="text">
      <input v-model="contact" placeholder="Контактный телефон/E-mail" type="text">
      <textarea v-model="text" placeholder="Сообщение" />
      <button @click="send">
        Отправить
      </button>
      <div class="msg" :class="status_class">
        {{ status }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Hello',
  data () {
    return {
      name: '',
      contact: '',
      text: '',
      show_contact_me: false,
      status: '',
      status_class: []
    }
  },
  methods: {
    send () {
      this.status = 'Подождите...'
      this.status_class = ['wait']
      this.$axios.post('https://formfor.site/send/z5JGfUH8NJh8bLD6aRqWZzfVPlEmU7',
        {
          name: this.name,
          contact: this.contact,
          text: this.text
        }
      ).then((r) => {
        this.status = 'Успех'
        this.status_class = ['success']
      }).catch((er) => {
        this.status = 'Ошибка, попробуйте позже'
        this.status_class = ['error']
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .hello {
    background: #69aba4;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      margin-top: 25vh;
      color: white;
      z-index: 2;
      h1 {
        font-size: 36px;
        line-height: 60px;
      }
      h2 {
        font-size: 24px;
        line-height: 32px;
        margin-top: 20px;
        .accent {
          color: #b8fffb;
        }
      }
      .btn_line {
        display: flex;
        justify-content: center;
        margin-top:  32px;
        a {
          display: block;
          img {
            height: 32px;
            margin: 0 8px;
          }
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background: url("~assets/img/photo.jpg");
      background-size: auto 90%;
      background-repeat: no-repeat;
      background-position: bottom;
    }
    .contact_me_wrapper {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.3);
      z-index: 2;
    }
    .contact_me {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto auto;
      background: white;
      border-radius: 24px;
      box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
      max-width: 400px;
      width: 90vw;
      height: 330px;
      padding: 2vh;
      display: flex;
      z-index: 3;
      flex-direction: column;

      button {
        border-radius: 5px;
        color: white;
        margin-top: 5px;
      }
    }
    button {
      border: none;
      font: inherit;
      color: inherit;

      margin-top: 40px;
      padding: 18px 24px;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      // font-style: italic;
      cursor: pointer;
      background: linear-gradient(45deg, rgba(5,104,150,1) 0%, rgba(144,235,224,1) 100%);

      &:active, &:focus { outline: none; }
    }
    input, textarea {
      transition: all 300ms;
      line-height: 36px;
      font-size: 18px;
      border: none;
      border-bottom: 1px solid gray;
      margin: 6px 0;
      padding: 0 10px;

      &:focus {
        border-bottom: 1px solid #90ebe0;
      }
    }
    textarea {
      resize: none;
      height: 300px;
      border: 1px solid gray;
      border-radius: 5px;
      line-height: 21px;
      padding: 6px 10px;
      &:focus {
        border: 1px solid #90ebe0;
      }
    }
    .msg {
      line-height: 32px;

      &.wait {
        color: #90ebe0;
      }
      &.success {
        color: #49ffab;
      }
      &.error {
        color: #ff4949;
      }
    }
  }
</style>
