<template>
  <div class="info">
    <div class="block">
      <h3>Обо мне</h3>
      <div class="text">
        <p>
          Я программист с большим опытом full-stack разработки. <br>
          Имею непреодолимое желание самосовершенствоваться и видеть результаты своей работы.
        </p>
        <p>
          Стараюсь развиваться в направление full-stack разработки на связке python + js (vue.js) <br>
          В свободное от работы время пишу на unity (c#)
        </p>
        <p>
          За время обучения в университете участвовал в различных олимпиадах, дошёл до полуфинала ACM ICPC в составе команды UPRT (Unique Pedagogic Russian Team)
        </p>
        <p>
          Трудолюбив, легко загораюсь идеями создания чего-то нового.
        </p>
        <p>
          Увлекаюсь фотографией и страйкболом.
        </p>
      </div>
    </div>
    <div class="block">
      <h3>Навыки</h3>
      <div class="text">
        <p>
          <span class="gr_color">●</span><span class="gray_color">Python</span> - Язык к которому я перешел после продолжительного использования PHP, и вот уже 4 года развиваюсь в нем<br>
          <span class="gr_color">●</span><span class="gray_color">Flask</span> - Основной web фреймворк, используемый мной, в отличии от Django не является монструозным комбайном<br>
          <span class="gr_color">●</span><span class="gray_color">Telethon</span> - Кроме Web направления зачастую пишу ботов, а если пишу, то на хорошем фреймворке<br>
          <span class="gr_color">●</span><span class="gray_color">Postgresql</span> - Почти нет систем, где бы не требовалось использовать базы данных, а постгря является одним из лучших решений<br>
        </p>
        <p>
          <span class="gr_color">●</span><span class="gray_color">HTML5</span>
          <span class="gr_color">●</span><span class="gray_color">CSS3</span>
          <span class="gr_color">●</span><span class="gray_color">SASS</span> - Все, что необходимо для успешной верстки сайтов любой сложности, главные столпы front-end разработки<br>
          <span class="gr_color">●</span><span class="gray_color">Vue.js</span> - Невозможно представить современный фронт без SPA, а vue.js является самым быстрым и легким решением для построения SPA приложений
        </p>
      </div>
    </div>
    <div class="block">
      <h3>Опыт работы</h3>
      <div class="text">
        <h4>Частная практика <span class="gr_color">●</span><span class="gray_color">Full-stack программист</span></h4>
        <p>
          На протяжении последних 5ти лет занимаюсь разработкой SPA различной сложности под нужны заказчиков. <br>
          От продающих лендигов, до системам автоматизации закупки товаров у поставщиков.
        </p>
        <h4>НАС <span class="gr_color">●</span><span class="gray_color">Frontend программист</span></h4>
        <p>
          <span class="gray_color">React</span>, <span class="gray_color">Redux</span>, Разработка системы трекинга задач, верстка компонентов, участие в проектировании ux системы.
        </p>
        <h4>Diasoft <span class="gr_color">●</span><span class="gray_color">Инженер-программист</span></h4>
        <p>
          Frontend разработка интерфейсов.<br>
          JS, HTML, Angular
        </p>
        <h4>Milan-design <span class="gr_color">●</span><span class="gray_color">Веб-программист</span></h4>
        <p>
          Вёрстка и правка веб-сайтов.<br>
          Интеграция и поддержка существующих решений PHP<br>
          Работа с CMS-системами (Wordpress, Joomla)<br>
          Внедрение и управление системами контроля версий
        </p>
        <h4>Аабсурд <span class="gr_color">●</span><span class="gray_color">HTML-верстальщик</span></h4>
        <p>
          Вёрстка веб-сайтов с использованием HTML, CSS, JS, Jquery<br>
          Оптимизация сайтов для продвижения (SEO)<br>
          Разработка сервиса смс рассылок (front-end)<br>
          Интеграция и поддержка существующих решений PHP
        </p>
      </div>
    </div>
    <div class="block">
      <h3>Мои домены</h3>
      <div class="text">
        <p>
          <span class="gr_color">●</span><a href="https://MadMandarin.info">MadMandarin.info </a>- Мой основной домен, использую постоянно, в первую очередь для собственной почты<br>
          <span class="gr_color">●</span><a href="http://polgi.ga">PolGi.ga </a>- Сайт состоящий из одного файла весом ровно в 512 мегабайт<br>
        </p>
      </div>
    </div>
    <div class="egg">
      Когда-то я помогал укладывать творог на луну, а теперь я тут...
    </div>
  </div>
</template>

<script>
export default {
  name: 'Info'
}
</script>

<style lang="scss" scoped>
  .info {
    height: 100vh;
    overflow-y: scroll;

    .block {
      margin: 60px 60px 30px;
      display: flex;

      @media (max-width: 1200px) {
        display: block;
      }

      h3 {
        flex: none;
        display: block;
        height: 40px;
        width: 140px;
        text-align: left;
        background: linear-gradient(45deg, #90ebe0 0%, #056896 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #90ebe0;
        font-size: 18px;
        line-height: 28px;
      }

      h4 {
        font-size: 18px;
        line-height: 28px;
        text-align: left;
        font-weight: 400;
      }
      p {
        text-align: left;
        font-weight: 100;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;
      }
      .gr_color {
        background: linear-gradient(45deg, #90ebe0 0%, #056896 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #90ebe0;
        display: inline-block;
        padding: 0 4px;
      }
      .gray_color {
        color: gray;
        font-weight: 400;
      }
    }
    .egg {
      padding: 20px 60px 20px;
      display: none;
      background: #056896;
      background: linear-gradient(45deg, #056896 0%, #90ebe0 100%);
      color: white;

      @media (max-width: 1200px) {
        display: block;
      }
    }
  }
  a {
    text-decoration-skip-ink: auto;

    color: #056896;

    &:visited {
      color: #056896;
    }
  }
</style>
