<template>
  <div class="container">
    <hello class="child hello_pr" />
    <info class="child info_pr" />
  </div>
</template>

<script>
import Hello from '../components/Hello.vue'
import Info from '../components/Info.vue'

export default {
  components: {
    Info,
    Hello
  }
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .child {
    flex-basis: 50%;
  }

  @media (max-width: 1200px) {
    display: block;
    .hello_pr {
      width: 100%;
    }
    .info_pr {
      height: auto;
      overflow-y: auto;
    }
  }
}
</style>
